.products{
    padding-left:50px;
    padding-top: 30px
}

.card_title h1{
    font-family: 'Recoleta';
    font-weight: 700;
    font-size: 4rem;
    color: #000000;
}

.card_title p{
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    padding-left: 10px;
    color: #000000;
}

.card_content{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.card_btn {
    padding: 0 20px;
    margin-top: 2%;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_btn button{
    width:145px;
    height: 35px;
    padding:0.5%;
    background: #C20909;
    border: none;
    border-radius: 28px;
    font-family: 'Recoleta';
    color: white;
    font-weight:900;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.available_icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.available_icon p{
     color: #38950D;
}

.card{
    width: 500px;
    margin: 20px 20px;
}

.card .card_image{
    width: 100%;
}

.card_price{
    font-size: 1.2rem;
    padding: 0 20px;
    margin-bottom: 3%;
    width:250px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

@media all and (max-width:375px) {
    .card{
        width: 100%;
        margin:auto;
        margin-bottom: 30px;
        padding: 0 15px 0 15px;
    }
}

@media all and (max-width:768px) {

    .products{
        padding: 0 30px;
    }

    .card_price{
        padding-top: 5px;
        font-size: 1rem;
        width: 180px;
        padding: 0 10px
    }

    .card_title h1{
        font-size: 3rem;
    }

    .card_title p{
        font-size: 20px;
    }

    .card_content{
        margin-top: 30px;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 100%;
        margin:auto;
        margin-bottom: 30px;
        /* padding: 0 40px; */
    }

    .card_btn {
        width:100%;
        font-size: 1rem;
        padding:0 10px
    }

    .card_btn button{
        width:130px;
    }

    .card_image{
        width: 100%;
    }
    
}

@media all and (max-width:1024px){
    .card{
        width: 100%;
        margin:auto;
        margin-bottom: 30px;
    }

    .card_btn {
        padding: 0 20px;
        font-size: 1rem;
    }

}

@media all and (max-width:1440px){
    .card{
        width: 400px;
    }

}