.SelectedBikeForm{
    /* border: 1px solid #05723E; */
    background-color:#05723E;
    padding: 30px 40px;
    margin: auto;
    /* width: 600px; */
    /* height: 100vh; */
}

.bikeForm{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.bikeForm p{
    padding-top: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 108.5%;
}

.bikeForm h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
}

.Details_bg_color{
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius:20px;
    width: 180px;
    height: 100px;
    margin-top: 20px;
}

.Details_bg_color p{
    padding-top:10px;
    text-align: center;
    color: black;
}

.Details_bg_color h2{
    text-align: center;
    color: black;
}

#para2{
    font-size: 11px;
}

.bottomLine{
    padding-top: 30px;
    margin: auto;
    width: 300px;
}

.details{
    color: #FFFFFF;
}

.details h2{
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 108.5%;
}

.input_name input{
    border: 1px solid #05723E;
    background-color: #05723E;
    border-bottom-color:#FFFFFF;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.input_name{
    font-size: 24px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}

.details h2{
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    padding-top: 30px;
}

.documents{
    padding-top: 30px;
}

.upload{
    display: flex;
    align-items: center;
}

.upload_icon_1 {
    margin-left: 25px;
}

.upload_icon_2 {
    margin-left: 27px;
}

.upload_icon_3 {
    margin-left: 52px;
}

.upload_icon_1 input {
    display: none;
}

.upload_icon_2 input {
    display: none;
}

.upload_icon_3 input {
    display: none;
}

.upload p{
    /* font-family: 'Lato'; */
    /* font-style: normal; */
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
}

.btn_pay{
    margin: 40px;
    display: flex;
    justify-content: center;
}

.btn_pay button{
   width: 100px;
   height: 40px;
   border-radius: 20px;
   border: none;
   font-size: 25px;
   font-weight: 700;
   font-family: 'Recoleta';
} 

/* @media all and (max-width:768px){
    .SelectedBikeForm{
        width: 600px;
        height: 100vh;
    }
} */
        
        
        
        
        