.signup_page{
    height: 100vh;
}

.signup{
    
    background-color:#05723E;
    margin: auto;
    width: 600px;
    height: 100vh;
    position: relative;
}

.signup_patch img{
    width: 100%;
}

.signup_title{
    padding:50px;
    margin-top:20px;
    display: flex;
    flex-direction: column;
}

.signup_title h1{
    color: #FFFFFF;
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem; 
    
}

.signup_title p{
    color: #FFFFFF;
    font-family: 'Lato';
    font-style: italic;
    font-weight: 200;
    font-size: 1rem;
   
}



.signup_title button{
    font-family: 'Recoleta';
    width:100px;
    margin-top:30px;
    padding: 8px;
    border-radius:28px;
    border: none;
    font-size: 20px;
    font-weight: 800;
}

.resend_btn{
    display: flex;
    justify-content: flex-end;
}

.puzzle_img{
    position: absolute;
    bottom: 0;
    right: 0;
 }
 
.red-image{
    position: absolute;
    right:86px;
    top: -40px;
} 

@media all and (max-width:768px){
    .signup{
        width: 100%;
    }

    .signup_title{
        padding:35px;
        margin-top:8px;
    } 

    .signup_title h1{
        font-size: 2rem;
    }

    .signup_title p{
        font-size: 0.8rem;
    }

    .signup_title .textField {
        width: 100%;
        margin-top: 30px;
    }

    .signup_title button{
        margin-top:20px;
        padding: 6px;
        /* font-size: 20px; */
    }

    .red-image{
        width:180px;
        right:75px;
        top: -40px;
    }

    .white-image{
        width:135px;
    }
    
}
 